@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #e7bfbf; /* Color of the thumb */
  border-radius: 5px; /* Round the corners of the thumb */
}
